extends base

block content
	main
		article
			img(src=`/src/products/${product._id}.jpg`, alt=product.name)
			section
				h2 #{product.name}
				p #{product.price}kr
				form(action="#")
					fieldset
						button#button-decrease -
						p#amount-counter 1
						button#button-increase +
					button(type="submit") Lägg till i varukorgen
				ul
					li
						img(src="../src/assets/logga.png", alt="Bild")
						p Fri frakt över 500kr
					li
						img(src="../src/assets/logga.png", alt="Bild")
						p Betala med swish
					li
						img(src="../src/assets/logga.png", alt="Bild")
						p Snabba leveranstider
					li
						img(src="../src/assets/logga.png", alt="Bild")
						a(href="#") Frågor? Kontakta oss
		section
			h3 Beskrivning
			p #{product.description}