extends base

block content
    main
        h2 Din varukorg
        section
            each item in cart
                article
                    section
                        img(src=`/src/products/${item.product._id}.jpg`, alt=item.product.name)
                        section
                            h3 #{item.product.name}
                            p #{item.product.manufacturer}
                            a(href="#") Ta bort X
                    section
                        form.form1(action="#" method="post")
                            fieldset
                                button.sc-button-minus -
                                p.sc-amount-counter #{item.quantity}
                                button.sc-button-plus +
                            p #{item.product.price}kr
                    p #{item.product.price * item.quantity}

            table
                thead
                    tr
                        th(scope="col") Produkt
                        th(scope="col") Pris
                        th(scope="col") Kvantitet
                        th(scope="col") Summa
                tbody
                    each item in cart
                        tr
                            th(scope="row")
                                img(src=`/src/products/${item.product._id}.jpg`, alt=item.product.name)
                                section
                                    h3 #{item.product.name}
                                    p #{item.product.manufacturer}
                                    a(href="#") 
                                        form.remove-from-cart(action="#" method="post")
                                            button(type="submit") Ta bort X
                                            input#id(type="hidden", name="id", value=`${item.product._id}`)
                            td #{item.product.price}
                            td
                                form.form1(action="#" method="post")
                                    fieldset
                                        button.sc-button-minus -
                                        p.sc-amount-counter #{item.quantity}
                                        button.sc-button-plus +
                            td #{item.product.price * item.quantity}
        form(action="#")
            fieldset
                legend Fraktmetod
                input#postombud(type="radio", name="postombud", value="postombud1", checked)
                label(for="postombud")
                    img(src="../src/assets/postnord.png", alt="Postombud")
                    | Postombud - 69 kr
                .line
                input#postombud(type="radio", name="postombud", value="postombud2")
                label(for="postombud")
                    img(src="../src/assets/postnord.png", alt="Postombud")
                    | Postombud - 69 kr
            fieldset
                legend Betalningsmetod
                input#betalningsmetod(type="radio", name="betalningsmetod", value="betalningsmetod1", checked)
                label(for="postombud")
                    img(src="../src/assets/swish.png", alt="Postombud")
                    | Betalningsmetod - 69 kr
                .line
                input#betalningsmetod(type="radio", name="betalningsmetod", value="betalningsmetod2")
                label(for="postombud")
                    img(src="../src/assets/swish.png", alt="Postombud")
                    | Betalningsmetod - 69 kr
        section
            h3 Summering
            section
                p Frakt: 
                p 69 kr
                p Totalt: 
                p 400
            button Frakt
        form(action="#")
            legend Fraktinformation
            section
                input#firstName(type="text", name="firstName", placeholder="Förnamn*", required)
                input#lastName(type="text", name="lastName", placeholder="Efternamn*", required)
                input#companyName(type="text", name="companyName", placeholder="Företagsnamn")
                input#email(type="email", name="email", placeholder="E-post*", required)
                input#adress(type="text", name="adress", placeholder="Adress*", required)
                input#zip(type="number", name="zip", placeholder="Postnummer*", required)
                input#ort(type="text", name="ort", placeholder="Ort*", required)
                input#telephone(type="tel", name="telephone", placeholder="Telefonnummer*", required)
            p Att betala: 449 kr
            button(type="submit") Betala
