extends base

block content 
	main
		h2.mobile-product Shop
		.sidebar
			.filter-section
				h3 Kategori
				label
					input(type="checkbox")
					| Kat 1
				br
				label
					input(type="checkbox")
					| Kat 2
				br
				label
					input(type="checkbox")
					| Kat 3
				br
				label
					input(type="checkbox")
					| Kat 4
			.filter-section
				h3 Pris
				input(type="range", min="100", max="350", value="225")
				div 100kr - 350kr
			.filter-section
				h3 Producent
				label
					input(type="checkbox")
					| Pro 1
				br
				label
					input(type="checkbox")
					| Pro 2
				br
				label
					input(type="checkbox")
					| Pro 3
				br
				label
					input(type="checkbox")
					| Pro 4
		.content
			section.top
				button.mobile-filter Filter
				.sort
					| Sortera
					select
						option Pris
						option Popularitet
			.product-featured
				.info
					h1 Populär produkt
					h2 Produktnamn
					p Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.
					button Lägg till i varukorgen 🛒
				img(src="https://via.placeholder.com/300", alt="Produktbild")
			.product-list
				.sort2
					| Sortera
					select
						option Pris
						option Popularitet
				h2 Sortiment
				.product-listing
					each product in products
						article.product-card
							a(href=`/produkt/${product._id}`)
								img(src=`/src/products/${product._id}.jpg`, alt=product.name)
								h3 #{product.name}
								p #{product.price}
								p Lorem ipsum dolor sit amet et delectus
							form(action="#")
								button(type="submit") Lägg till i varukorgen 🛒
					